* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: 1.5s
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.logo {
  flex-basis: 20%;
}

.logo img {
  width: 160px;
  cursor: pointer;
}

nav {
  flex 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  color: #fff;
  display: inline-block;
  margin-left: 115px;
  margin-bottom: 60px;
  cursor: pointer;
}

#menu > li a {
  color: #fff;
}

.circle-box {
  position: absolute;
  height: 450px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgCircle {
  stroke-dasharray: 1256;
  stroke-dashoffset: 1256;
  transition: 1.5s;
}

span {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  z-index: 10; /*Allows for position change when userBox ID was added to html & JS. */
}

#step1 {
  right: 160px;
  bottom: 30px; /*Inspect in console, change value to determine dot/circle position */
}

#step2 {
  left: 56px;
  bottom: 106px; /*Inspect in console, change value to determine dot/circle position */
}

#step3 {
  left: 60px;
  top: 100px; /*Inspect in console, change value to determine dot/circle position */
}

#step4 {
  right: 156px;
  top: 30px; /*Inspect in console, change value to determine dot/circle position */
}

#step5 {
  right: 20px;
  top: 220px; /*Inspect in console, change value to determine dot/circle position */
}

.user-box {
  width: 350px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  transition: 1s;
}

.user img {
  width: 90px;
  margin-bottom: 10px;
  border-radius: 55%;
}

.social-media img {
  width: 25px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0;
}

.user-box p {
  margin: 25px 0;
  color: #edeef0;
  line-height: 25px;
}

.user{
  height: 450px;
}

@media only screen and (max-width: 425px) {
  .logo img {
    display: none;
  }

   nav ul li {
    /*display: block */
    display: inline-block;
    margin-left: 115px;
    margin-bottom: 60px;
    cursor: pointer;
}
  }
